#N
pl_sw\[0\]
ph_sw\[0\]
pl_sw\[1\]
ph_sw\[1\]
pl_sw\[2\]
ph_sw\[2\]
pl_sw\[3\]
ph_sw\[3\]
pl_sw\[4\]
ph_sw\[4\]
pl_sw\[5\]
ph_sw\[5\]
pl_sw\[6\]
ph_sw\[6\]
pl_sw\[7\]
ph_sw\[7\]
pl_sw\[8\]
ph_sw\[8\]
pl_sw\[9\]
ph_sw\[9\]
pl_sw\[10\]
ph_sw\[10\]
#S
nl_sw\[0\]
nh_sw\[0\]
nl_sw\[1\]
nh_sw\[1\]
nl_sw\[2\]
nh_sw\[2\]
nl_sw\[3\]
nh_sw\[3\]
nl_sw\[4\]
nh_sw\[4\]
nl_sw\[5\]
nh_sw\[5\]
nl_sw\[6\]
nh_sw\[6\]
nl_sw\[7\]
nh_sw\[7\]
nl_sw\[8\]
nh_sw\[8\]
nl_sw\[9\]
nh_sw\[9\]
nl_sw\[10\]
nh_sw\[10\]
#E
d_out\[0\]
d_out\[1\]
d_out\[2\]
cko
frame
#W
comp_p
ckc
cks
rdy
